

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	margin-top: 8rem;
}

.error {
	color: red;
}

.valid {
	color: forestgreen;
}













